body {
  background-color: rgb(182, 130, 104);
  margin-left: 42%;
}
.section-1 {
  display: flex;
  gap: 40px;
}
.box1 {
  height: 100px;
  width: 100px;
  background-color: rgb(106, 48, 48);
  margin-bottom: 50px;
}

.box1:hover {
  width: 240px;
  transition: width 2s linear;
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: rgb(68, 10, 10);
  margin-bottom: 50px;
}
.box2:hover {
  height: 280px;
  width: 240px;
  transition: width 2s, height 4s;
  transition-timing-function: linear;
}

.box3 {
  height: 100px;
  width: 100px;
  background-color: rgb(46, 33, 37);
  margin-bottom: 50px;
}
.box3:hover {
  width: 300px;
  transition: width 4s linear;
}

.box4 {
  height: 100px;
  width: 100px;
  background-color: rgb(33, 38, 46);
  margin-bottom: 50px;
}

.box5 {
  height: 100px;
  width: 100px;
  background-color: rgb(105, 25, 49);
  margin-bottom: 50px;
}
.box6 {
  height: 100px;
  width: 100px;
  background-color: rgb(49, 77, 7);
  margin-bottom: 50px;
}
