body {
  background-color: rgb(225, 191, 171);
  margin-left: 35%;
}
h1 {
  margin-left: 120px;
}
.section-1 {
  display: flex;
  gap: 40px;
}
.box1 {
  height: 100px;
  width: 100px;
  background-color: rgb(113, 68, 68);
  margin-bottom: 50px;
  margin-left: 20px;
  animation: change1 4s infinite linear;
}

@keyframes change1 {
  0% {
    transform: skewX(30deg);
  }
  50% {
    transform: skewX(-30deg);
  }
  100% {
    transform: skewX(30deg);
  }
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: rgb(68, 10, 10);
  margin-bottom: 50px;
  margin-left: 20px;
  animation: change2 4s infinite linear;
}

@keyframes change2 {
  0% {
    transform: skewY(30deg);
  }
  50% {
    transform: skewY(-30deg);
  }
  100% {
    transform: skewY(30deg);
  }
}

.box3 {
  height: 100px;
  width: 100px;
  background-color: rgb(46, 33, 37);
  margin-bottom: 50px;
  margin-left: 20px;
  animation: change3 3s infinite linear;
}
@keyframes change3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box4 {
  height: 100px;
  width: 100px;
  background-color: rgb(200, 183, 30);
  margin-bottom: 30px;
  margin-left: 20px;
  animation: scale1 4s infinite linear;
}
@keyframes scale1 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.box5 {
  height: 100px;
  width: 100px;
  background-color: rgb(105, 25, 49);
  margin-bottom: 30px;
  margin-left: 20px;
  animation: scale2 4s infinite linear;
}

@keyframes scale2 {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}
.box6 {
  height: 100px;
  width: 100px;
  background-color: rgb(49, 77, 7);
  margin-bottom: 30px;
  margin-left: 20px;
  animation: scale3 4s infinite linear;
}

@keyframes scale3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a {
  margin-left: 70px;
  font-size: 30px;
}
