*{
    margin: 0;
    padding: 0;
    background-color: rgba(185, 187, 183, 0.77);
}
h1 {
    text-align: center;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  font-weight: bold;
}
.section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(19, 58, 74);
    margin: 30px;
    animation: transform1 2s infinite ;
}

@keyframes transform1 {
    0% {
    transform: skew(20deg);
  }
  50% {
    transform: skew(-20deg);
  }
  100% {
    transform: skewX(20deg);
  }
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: rgb(75, 18, 37);
    margin: 30px;
    animation: transform2 2s infinite ;
}

@keyframes transform2 {
  0% {
    transform: skewY(20deg);
  }
  50% {
    transform: skewY(-20deg);
  }
  100% {
    transform: skewY(20deg);
  }
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: rgb(128, 89, 102);
    margin: 30px;
    animation: transform3 2s infinite ;
}

@keyframes transform3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box4 {
    height: 100px;
    width: 100px;
    background-color: rgb(105, 128, 89);
    margin: 30px;
    animation: scale1 2s infinite ;
}

@keyframes scale1 {
  0% {
    transform: scaleY(1.0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100%{
    transform: scaleY(1.0);
  }
}

.box5 {
    height: 100px;
    width: 100px;
    background-color: rgb(46, 24, 19);
    margin:30px;
    animation: scale2 2s infinite ;
}
@keyframes scale2 {
  0% {
    transform:  scaleX(1.0);
  }
  50% {
    transform: scaleX(0.5);
  }
  100%{
    transform: scaleX(1.0);
  }
}

.box6 {
    height: 100px;
    width: 100px;
    background-color: rgb(55, 48, 73);
    margin:30px;
    animation: scale3 2s infinite ;
}
@keyframes scale3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

a{
  font-size: 30px;
  margin-left: 40%;
}
