* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(sky.jpg);
  background-size: cover;
  height: 445px;
  width: 100%;
}
.p {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  gap: 10px;
  font-weight: bold;
}

#p1 {
  background-color: orange;
  margin-top: 40px;
}
#p2 {
  background-color: #fff;
  margin-top: 40px;
}
#p3 {
  background-color: green;
  margin-top: 40px;
}

.sun{
    height: 100px;
    position: relative;
    animation-name: sun;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 1050px;
    margin-top: 20px;
}

@keyframes sun{
    0%{
        right: 0%;
    }
    100%{
        left: -100%;
    }
}
.city{
    background-image: url(city.png);
    height: 250px;
    width: 100%;
    position: absolute;
    top: 27%;
}
.flag{
    height: 70px;
    position: relative;
    z-index: 1;
    bottom: 70px;
    margin-left: 580px;
}
.cars{
    position: relative;
    bottom: 250px;
}
.wheel-1 {
    height: 57px;
    margin-left: 150px;
    animation-name: wheel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    
}
.wheel-2{
  height: 57px;
    margin-left: 150px;
    animation-name: wheel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    z-index: 1;
}

@keyframes{

}

.main {
  background-image: url(./road.jpg);
  height: 310px;
}