body{
    background-color: #b27171;
    margin-left: 42%;
}

.box{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    transition: 3s;
}

#box1:hover{
    transition: linear;
    width: 250px;
    transition: 3s;
}

#box2:hover {
    transition: width 2s,height 4s;
    height: 250px;
    width: 250px;
}

#box3:hover{
    transition: linear;
    width: 250px;
    transition: 1s;
}

.back {
  font-size: 40px;
  color: rgb(145, 11, 133);
  font-weight: bold;
  text-decoration: underline;
  
}
.next {
  font-size: 40px;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  
}