.card1 {
  height: 400px;
  width: 400px;
  background-color: purple;
  background-image: linear-gradient(
    /* to top,  */ /*by default it is set to bottom */ /* 200deg, */ red 0%,
    red 10%,
    yellow 10%,
    yellow 20%,
    green 20%,
    green 30%
  );
}

.card2 {
  margin-top: 50px;
  height: 400px;
  width: 400px;
  background-color: purple;
  background-image: repeating-linear-gradient(
    red 0%,
    red 10%,
    yellow 10%,
    yellow 20%,
    green 20%,
    green 30%
  );
}

.card3 {
  margin-top: 50px;
  height: 400px;
  width: 600px;
  background-color: purple;
  background-image: repeating-radial-gradient(
    /* by default ellipse */
    circle,
    red 0%,
    red 10%,
    yellow 10%,
    yellow 20%,
    green 20%,
    green 30%
  );
}
.card4 {
  margin-top: 50px;
  height: 400px;
  width: 400px;
  background-color: purple;
  border-radius: 50%;
  background-image: repeating-conic-gradient(
    red 0%,
    red 10%,
    yellow 10%,
    yellow 20%,
    green 20%,
    green 30%
  );
}
