.card1 {
    margin: 100px;
    height: 200px;
    width: 200px;
    background-color: rgb(126, 27, 60);
    transform: rotate(40deg);
}

.card2 {
    margin: 100px;
    height: 200px;
    width: 200px;
    background-color: rgb(65, 26, 83);
    transform: skewY(40deg);
}

.card3 {
    margin: 200px;
    height: 200px;
    width: 200px;
    background-color: rgb(26, 37, 83);
    transform: scale(1.5);
}
