p {
    /* letter-spacing: -5px; */
    letter-spacing: 5px;
    word-spacing: 5px;
}
#card1 {
    text-align: center;
    color: blueviolet;
    border: 5px solid rgb(40, 62, 85);
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    margin: 20px 50px;
    padding: 30px;
    
}

#card2 {
    color: rgb(96, 22, 46);
    background-color: darkolivegreen;
    border: 5px dotted rgb(20, 15, 22);
    margin: 20px 50px;
    height: 100px;
    width: 80px;
    padding: 20px;
}

#card3 {
    font-size: 20px;
    /* background-color: rgb(45, 15, 45); */
    height: 400px;
    width: 400px;
    margin: 40px;
    padding: 50px;
    border: 5px dashed rgb(65, 62, 82);
    /* border-radius: 50%; */
    background-image: url("./alpino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}