* {
    margin: 0;
    padding: 0;
}

.a {
    visibility: visible;
    background-color: palegreen;
}

.b {
    visibility: hidden;
    background-color: palevioletred;
}

.float {
    background-color: maroon;
    height: 200px;
    width: 200px;
    float: left;
}

